<c8y-title>{{ 'Localization' | translate }}</c8y-title>

<c8y-breadcrumb>
  <c8y-breadcrumb-item [icon]="'cog'" [label]="'Settings' | translate"></c8y-breadcrumb-item>
  <c8y-breadcrumb-item [label]="'Localization' | translate"></c8y-breadcrumb-item>
</c8y-breadcrumb>

<c8y-action-bar-item [placement]="'right'">
  <button
    class="btn btn-link"
    [disabled]="disabled"
    title="{{ 'Add term' | translate }}"
    (click)="openTranslationModal()"
  >
    <i c8yIcon="plus-circle"></i>
    {{ 'Add term' | translate }}
  </button>
  <button
    class="btn btn-link"
    id="applyTranslation"
    [disabled]="disabled ? disabled : !isTranslationsDataChanged"
    title="{{ 'Apply' | translate }}"
    (click)="saveApplicationOptions()"
  >
    <i c8yIcon="bolt"></i>
    {{ 'Apply' | translate }}
  </button>
</c8y-action-bar-item>

<c8y-help src="/dtm/localization/#localization"></c8y-help>

<div class="card">
  <div class="content-fullpage d-flex d-col" *ngIf="columns?.length > 0">
    <c8y-data-grid
      [title]="'Terms' | translate"
      [loadingItemsLabel]="loadingItemsLabel"
      [columns]="columns"
      [rows]="translationsData"
      [pagination]="pagination"
      [actionControls]="actionControls"
      (onConfigChange)="onConfigChange($event)"
      (onReload)="reload()"
      [refresh]="refresh"
      [bulkActionControls]="bulkActionControls"
      [selectable]="true"

      class="flex-grow col-xs-12 no-gutter"
    >
      <c8y-ui-empty-state
        *ngIf="isTranslationsDataFetched"
        icon="language1"
        [horizontal]="true"
        [title]="'No terms to display.' | translate"
        class="d-block"
      ></c8y-ui-empty-state>
    </c8y-data-grid>
  </div>
</div>
